*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    height: 200vh;
    width: 100%;
    margin: 0 auto; 
}
section{
    width: 80%;
    display: grid;
  grid: 150px / auto auto auto auto;
    margin: 0 auto; 
}

.window{
    width: 297.5px;
    height: 485px;
    background: black;
    margin-top: 10px;
    margin-left: 5px;
}