*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    height: 200vh;
    width: 100%;
}
.navbar {
    background: #222;
    box-shadow: 0 0 30px black;
    color: #fff;
    /* padding: 20px; */
    width: 80%; 
    height: 80px;
    margin: 0 auto; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px 30px 5px 30px;
  }
  
  .navbar.sticky,
  .navbar.fixed {
    
    position: fixed;
    top: 0;
    width: 80%; 
    height: 60px;
    background: #222;
    box-shadow: 0 0 30px black;
    left: 50%; 
    transform: translateX(-50%);
  }
  